:host {
    ion-header {
        position: absolute;
        top: 0;
        backdrop-filter: none;
        ion-toolbar {
            --color: var(--ion-color-light);
            --border-width: 0;
            --background: none;
        }
        .sub-header {
            padding: 0 1rem;
            color: var(--ion-color-light);
        }
    }
    ion-content {
        --color: var(--ion-color-light);
        --background: none;
        background: url(../../assets/imgs/page-two.jpg) 0 0 no-repeat;
        --offset-top: -44px !important;
        --offset-bottom: -44px !important;
    }
    ion-footer {
        position: absolute;
        bottom: 0;
        ion-toolbar {
            --background: none;
            ion-segment-button {
                --color: var(--ion-color-light);
                --border-color: var(--ion-color-light);
            }
        }
    }
}