:host {
    ion-header {
        backdrop-filter: none;
        ion-toolbar {
            --color: var(--ion-color-light);
            --border-width: 0;
        }
        .sub-header {
            padding: 0 1rem;
            color: var(--ion-color-light);
        }
    }
    ion-content {
        --color: var(--ion-color-light);
    }
    ion-footer {
        ion-toolbar {
            ion-segment-button {
                --color: var(--ion-color-light);
                --border-color: var(--ion-color-light);
            }
        }
    }
}