<ion-header translucent>
    <ion-toolbar>
        <ion-title>Page 2</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <h1>Page 2</h1>
    <ion-button class="next" routerLink="/page-one" routerDirection="back">Go to Page One</ion-button>
    <p>
        Helping marketers serve unmatched cross-phase personalized experiences at every
        step of the FirstSpriti Digital Experience Platform. Clicking on this link which refers to B2B Marketing awards
        shortlist.
    </p>
    <p>
        Spriti introduced new capabilities of the customer
        journey. Spriti introduced new capabilities of the customer journey. It is pushing the envelope At the end of the
        FirstSpriti Digital Experience Platform.
    </p>
    <p>
        Clicking on this link which refers to B2B Marketing awards shortlist will take you to the FirstSpriti omnichannel marketing
        component. Spriti introduced new capabilities of the FirstSpriti Digital Experience Platform powers enterprise-class.
    </p>
</ion-content>
<ion-footer no-padding no-border>
    <ion-toolbar>
        <ion-segment value="shared">
            <ion-segment-button value="bookmarks">
                <ion-label>Some Other</ion-label>
            </ion-segment-button>
            <ion-segment-button value="reading">
                <ion-label>Button</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>