<ion-header>
    <ion-toolbar>
        <ion-title>Page 1</ion-title>
    </ion-toolbar>
    <ion-toolbar class="sub-header">
        <ion-searchbar color="danger"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <h1>Page 1</h1>
    <ion-button class="next" routerLink="/page-two">Go to Page Two</ion-button>
    <p>
        These innovations help CMOs challenged with the delivery of omnichannel digital experiences
        for some of the customer journey. Spriti introduced new capabilities to the awards page of the
        FirstSpriti Digital Experience Platform. Clicking on this link which refers to B2B Marketing awards
        shortlist will take you to the awards page of the customer journey.
    </p>
    <p> Helping marketers serve unmatched
        cross-phase personalized experiences at every step of the FirstSpriti Digital Experience Platform.
        Helping marketers serve unmatched cross-phase personalized experiences at every step of the FirstSpriti
        Digital Experience Platform. Helping marketers serve unmatched cross-phase personalized experiences at every
        step of the FirstSpriti Digital Experience Platform. Clicking on this link which refers to B2B Marketing awards.
    </p>
</ion-content>
<ion-footer no-padding no-border>
    <ion-toolbar>
        <ion-segment value="shared">
            <ion-segment-button value="bookmarks">
                <ion-label>Bookmarks</ion-label>
            </ion-segment-button>
            <ion-segment-button value="reading">
                <ion-label>Reading List</ion-label>
            </ion-segment-button>
            <ion-segment-button value="shared">
                <ion-label>Shared Links</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-footer>